<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/editstyle.css">
</head>
<body>
    <h2>Edit Your Post</h2>
    <div class="post">
        <p><b>Post ID :</b> <i><%= post.id %></i></p>
        <p><b>Post Username :</b> @<%= post.username %></p>
        <p><b>Content :</b> <%= post.content %></p>
        <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
            <textarea name="content" id="" rows="5" cols="33"><%= post.content %></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
